/* PARTICIPE */
.section-participe {
    display: flex;
    margin-left: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 40px;
    justify-content: space-around;
}
.div-wrapper-participe {
    width: 500px;
    margin-right: 100px;
}

/* QUEM SOMOS */
.quem-somos-header {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-top: 40px;
}
.wrapper-cards-line {
    flex-wrap: wrap;
    display: flex;
    margin: 20px 200px;
    justify-content: center;
}
.personal-card {
    display: inline-block;
    background-color: #EEEEEE;
    border-radius: 30px;
    padding: 12px 0 0 0;
    margin: 20px;
    width: 80%;
    height: auto;
    overflow: auto;
    border-top: solid 4px #ced4da;
    border-bottom: solid 4px #ced4da;
    border-left: solid 4px #ced4da;
    border-right: solid 4px #ced4da;
}
.personal-card .personal-card-init {
    display: inline-flex;
    padding-left: 30px;
}
.personal-card .wrapper-card-tittle {
    text-align: center;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
}
.personal-card .card-photo {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 25%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}
.personal-card .card-name {
    font-weight: bold;
    margin: 0;
    font-size: 30px;
}
.personal-card .card-pronoums {
    font-weight: bold;
    margin: 0;
    font-size: 15px;
}
.personal-card .card-email {
    display: inline-flex;
    margin: 0;
    font-size: 15px;
}
.personal-card .wrapper-card-main-info {
    font-size: 13px;
    padding-left: 40px;
    align-items: center;
}
.personal-card .card-info {
    margin: 5px;
}
.wrapper-icons {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}
.card-icon {
    width: 30px;
    height: 30px;
}
.card-icon:hover {
    width: 32px;
    height: 32px;
}

/* Estilos para dispositivos móveis */
@media only screen and (max-width: 915px) {
    .section-participe {
        margin-left: 0;
        padding-right: 0;
    }

    .div-wrapper-participe {
        width: 100%;
        margin-right: 0;
    }

    .quem-somos-header {
        margin-left: 40px;
    }

    .wrapper-cards-line {
        margin: 20px 0;
    }

    .personal-card {
        width: 100%;
        margin: 10px;
        padding: 12px;
        border: solid 2px #ced4da;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .personal-card .personal-card-init {
        flex-basis: 100%;
        text-align: center;
        padding-bottom: 20px;
    }

    .personal-card .wrapper-card-tittle {
        flex-basis: 100%;
        text-align: center;
        padding-left: 15px;
    }

    .personal-card .card-photo {
        width: 100px;
        height: 100px;
        border-radius: 25%;
        margin: 0 auto;
    }

    .personal-card .card-name {
        font-size: 20px;
    }

    .personal-card .card-pronoums {
        font-size: 12px;
    }

    .personal-card .card-email {
        display: block;
        font-size: 12px;
    }

    .personal-card .wrapper-card-main-info {
        font-size: 11px;
        padding-left: 0;
        align-self: flex-start;
        text-align: center;
    }

    .personal-card .card-info {
        margin: 5px;
        text-align: justify;
    }

    .card-icon {
        width: 20px;
        height: 20px;
    }

    .card-icon:hover {
        width: 22px;
        height: 22px;
    }
}