{% extends "projectupdates/base.html" %}
{% block nav_contact %}active{% endblock %}

{% block content %}
<div class="row" style="width: 70%;">
    {% for post in posts %}
    <div class="card white">
        <div class="card-content">
            <span class="card-title"><b>{{post.news_title}}</b></span>
            <p style="font-size:90%">{{post.published_date}}</p>
            <br>
            <p>{{post.news_text|safe}}</p>
        </div>
    </div>
    {% endfor %}
</div>

<center>
{% if posts.has_other_pages %}
    <ul class="pagination">
        {% if posts.has_previous %}
            <li class="waves-effect"><a href="?page=
                    {{ posts.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i
                    class="material-icons">chevron_left</i></a></li>
        {% else %}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        {% endif %}
        {% for num in posts.paginator.page_range %}
            {% if posts.number == num %}
                <li class="active" style="background-color:#081d4a"><a href="#!">{{ num }}</a></li>
            {% else %}
                <li class="waves-effect"><a
                        href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}
        {% if posts.has_next %}
            <li class="waves-effect"><a
                    href="?page={{ posts.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i
                    class="material-icons">chevron_right</i></a></li>
        {% else %}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        {% endif %}
    </ul>
{% endif %}
</center>
{% endblock %}