{% extends "projectupdates/base.html" %}

{% block content %}
<div class="row" style="width: 70%;">
<h4 class="card-title">Sobre o projeto</h4>
<p align="justify">
    Métodos computacionais têm sido cada vez mais frequentes em pesquisas nas 
    diferentes áreas das Ciências da Vida.
    Projetos envolvendo o uso de dados e de programação vêm se intensificando com o 
    desenvolvimento de tecnologias para a análise de dados em grande escala, como nas 
    chamadas Ciências Ômicas e em Biologia de Sistemas.
    No entanto, a comunidade científica ainda precisa amadurecer a forma de compartilhar 
    os resultados científicos, de forma que sejam mais reprodutíveis, contribuindo para o 
    aumento da confiança nos resultados de pesquisa e a diminuição de angústias e 
    frustrações para os próprios pesquisadores.
    <br><br>
    Nosso projeto tem como principais objetivos aumentar a conscientização sobre a
    importância da reprodutibilidade computacional em pesquisas de Biologia e apresentar
    formas de desenvolver uma pesquisa computacionalmente mais reprodutível, com foco em
    pesquisadores em início de carreira e falante da Língua Portuguesa.
    <br><br>
    A iniciativa foi organizada como parte do ativismo do pesquisador
    <a href="http://lattes.cnpq.br/3339727232509001" target="_blank">Dr. Renato Santos</a>, bolsista de pós-doutorado no 
    Centro de Energia Nuclear na Agricultura da USP e embaixador no programa 
    “eLife Community Ambassadors” (vinculado ao periódico
    <a target="_blank" href="https://elifesciences.org/">eLife Sciences</a>, 
    e conta atualmente com a colaboração de cerca de
    <a href="/quemsomos">15 pesquisadores que atuam na área ampla de Biológicas.</a>
    <br><br>
    Como formas de aumentar a conscientização, promovemos a disseminação de
    expectativas e angústias de diferentes pesquisadores, narrado por personagens do dia a dia
    do ambiente de pesquisa, como xícaras de café, monitores de computador e tubos de
    ensaio. As narrativas são disseminadas em postagens nas nossas redes sociais,
    principalmente no
    <a href="https://www.instagram.com/reprodcomputbio/" target="_blank">Instagram</a>. 
    Alinhado com estas nossas expectativas e angústias, trazemos dicas e sugestões de como 
    estas barreiras poderiam ser superadas, muitas vezes com atitudes e metodologias simples.
    <br><br>
    Um dos produtos que desejamos ter construído até o fim de 2023 é um 
    <a href="/ebook"><i>ebook</i> com material dinâmico e interativo</a>, também redigido 
    em português, que poderá ser visualizado aqui no nosso site ou baixado no formato PDF. 
    O ebook deverá trazer reflexões sobre aspectos de Ciência Aberta feitas ao longo de um 
    ano de projeto, de forma a desenvolver uma ciência inclusiva, diversa e mais transparente. 
    Adicionalmente, o <i>ebook</i> também abordará, em capítulos distintos, estudos de caso focados 
    no desenvolvimento de projetos de análises computacionais do ponto de vista de biólogos 
    e de cientistas da computação que atuam na área de Biologia. Em conjunto, o projeto deverá 
    contribuir para melhorar a cultura científica.
</p>
</div>

<div class="row" style="width: 70%;">
<h4>Timeline do projeto</h4>
<ul class="timeline">
  <!-- Item 1 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="time-wrapper"><span class="time">Agosto 26, 2022</span></span>
      </div>
      <div class="desc">Formação da equipe brasileira inicial</div>
    </div>
  </li>

  <!-- Item 2 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="time-wrapper"><span class="time">Agosto 28, 2022</span></span>
      </div>
      <div class="desc">Submissão da proposta do projeto para a coordenação da eLife Community</div>
    </div>
  </li>

  <!-- Item 3 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="time-wrapper"><span class="time">Setembro 10, 2022</span></span>
      </div>
      <div class="desc">Aprovação do projeto pela eLife</div>
    </div>
  </li>

  <!-- Item 4 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="time-wrapper"><span class="time">Outubro 10, 2022</span></span>
      </div>
      <div class="desc">Criação do logo do projeto</div>
    </div>
  </li>

  <!-- Item 5 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="time-wrapper"><span class="time">Outubro 20, 2022</span></span>
      </div>
      <div class="desc">Primeira publicação de tirinha no perfil do Instagram</div>
    </div>
  </li>

  <!-- Item 6 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="time-wrapper"><span class="time">Fevereiro 22, 2023</span></span>
      </div>
      <div class="desc">Início da colaboração com pesquisadores da Colômbia</div>
    </div>
  </li>

  <!-- Item 7 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="time-wrapper"><span class="time">Junho 23, 2023</span></span>
      </div>
      <div class="desc">Primeira publicação de tirinhas produzidas em parceria com o Luciano Beserra e a Rachel Paterman</div>
    </div>
  </li>

  <!-- Item 8 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="time-wrapper"><span class="time">Junho 14, 2023</span></span>
      </div>
      <div class="desc">Apresentação de poster sobre o projeto no evento X-meeting 2023</div>
    </div>
  </li>

</ul>
</div>
{% endblock %}
