{% extends "projectupdates/base.html" %}
{% load static %}

{% block content %}

<section class="section-participe">
    <div class="div-wrapper-participe">
        <h4>Participe!</h4>
        <p>Você está interessado(a) em participar do projeto Reprodutibilidade Computacional?</p>
    </div>
    <div class="div-wrapper-participe-options">
        <p><h6>Há duas formas de contribuir:</h6></p>
        <ol>
            <h6><li> Participe se voluntariando:</h6>
                <p> Desta forma, você pode ser uma pessoa física e auxiliar na: </p>
                <ul>
                    <li>- Construção do ebook sobre reprodutibilidade computacional;</li>
                    <li>- Manuntenção deste website;</li>
                    <li>- Postagem nas redes sociais.</li>
                </ul>
            </li>
            <br>
            <h6><li> Participe financiando:</h6>
                <p> Desta forma, você pode ser uma pessoa física ou jurídica e contribuir com recursos
                    financeiros em qualquer quantia para auxiliar na:</p>
                <ul>
                    <li>- Manuntenção deste website;</li>
                    <li>- Outros possíveis gastos.</li>
                </ul>
            </li>
        </ol>
    </div>
</section>
{% endblock content %}