{% extends "projectupdates/base.html" %}
{% load static %}

{% block content %}

<section class="section container" id="contact">
    <div class="row">
        <div class="col l4 s12">
            <h4>Participe!</h4>
            <p>Você está interessado(a) em participar do projeto Reprodutibilidade Computacional?</p>
            <br>
            <p>Entre em <a href="/contato">contato</a> conosco! Veja ao lado como você pode contribuir.</p>
        </div>
        <div class="col l7 offset-l1 s9">
            <h6><b>Há duas formas de contribuir:</b></h6>
            <ol>
                <!-- Forma 1 -->
                <b><li>Participe se voluntariando:</li></b>
                <p>Desta forma, você pode ser uma pessoa física e auxiliar na:</p>
                <ul>
                    <li style="list-style-type: disc">Construção do ebook sobre reprodutibilidade computacional</li>
                    <li style="list-style-type: disc">Manuntenção deste website</li>
                    <li style="list-style-type: disc">Postagem nas redes sociais</li>
                </ul>
                <br>
                <!-- Forma 2 -->
                <b><li>Participe financiando:</li></b>
                <ul>
                    <p>Desta forma, você pode ser uma pessoa física ou jurídica e contribuir com recursos financeiros em qualquer quantia para auxiliar na:</p>
                    <li style="list-style-type: disc">Manuntenção deste website</li>
                    <li style="list-style-type: disc">Outros possíveis gastos</li>
                </ul>
            </ol>
        </div>
    </div>
</section>
{% endblock content %}